<div class="content-module-heading cf">

  <h3 class="fl">Carrinho de compras</strong></h3>
  <span class="fr expand-collapse-text"></span>
  <span class="fr expand-collapse-text initial-expand"></span>

</div> <!-- end content-module-heading -->

<div class="content-module-main cf">

  <% unless current_cart.empty? %>

    <%= render "cart/cart-table" %>

  <% else %>

    <p style="text-align: center;">O carrinho está vazio.<br />
    <%= link_to "Comece suas compras", root_path %>!</p>

  <% end %>

</div>