<td class="item" width="25%" align="center">
  <div class="product-image cf">
    <%= link_to ( 
        image_tag get_image(item.image.thumb), width: 100, height: 100
      ), item
    %>
  </div>

  <div class="product-details cf">
    <h2><%= item.name %></h2>
  </div>

  <div class="product-actions cf">
    <span class="price fl">
      <%= monetize item.price %>
    </span>
    <%= link_to "Adicionar ao carrinho", item, class: "btn btn-carrinho fr", 'data-hint'=>"Bounce" %>

  </div>
</td>