<% @items.each do |key, items| %>
  <div class="content-module-heading cf">

    <h3 class="fl"><%= key %></h3>
    <span class="fr expand-collapse-text"></span>
    <span class="fr expand-collapse-text initial-expand"></span>

  </div> <!-- end content-module-heading -->

  <div class="content-module-main cf">

    <%= render 'layouts/featured', items: items %>

  </div>

<% end %>