<% @items.each do |key, items| %>
  <div class="content-module-heading cf">

    <h3 class="fl"><%= key %></h3>
    <span class="fr expand-collapse-text">Clique para esconder</span>
    <span class="fr expand-collapse-text initial-expand">Clique para expandir</span>

  </div> <!-- end content-module-heading -->

  <div class="content-module-main cf">

    <table>
      
      <tbody>

        <tr>

        <% items.each do |item| %>

          <%= render 'home/items', item: item %>

        <% end %>

        </tr>

      </tbody>
      
    </table>

  </div>

<% end %>