<div class="sixteen columns content">
  
    <object type="application/x-shockwave-flash" data="http://resicolor.com.br/paginas/espaco/simulador/simulador_loader.swf" height="600" width="800">
        <param name="movie" value="http://resicolor.com.br/paginas/espaco/simulador/simulador_loader.swf">
        <param name="quality" value="high">
        <param name="wmode" value="transparent">
    </object>

</div>