.product-image-show {
  border: 1px solid #eeefef;
  width: 20%;
  margin-right: 1em;
}

.product-desc {
  width: 70%;
  font-size: 16 px;
}

a.remove{
  padding: 0 5px 0 17px;
  background: url(remove.png) no-repeat 0px 0px;
  margin: 5px 8px 5px 0;
}
a.remove:hover {
  background-color: red;
  background-position: -1px -18px;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out;
  color: white;
}