.contact .contact-text {
  color: #777777;
  font-size: 13px;
  margin-top: 0px;
}

.contact form label {
  font-size: 14px;
  font-weight: normal;
}
.contact form input[type='text'],
.contact form textarea {
  width: 450px;
}

.contact form textarea {
  height: 250px;
}

/*.contact form input[type='submit'] {float: right;}*/

.contact-map {
  border: 1px solid #dedede;
}