.featured ul li {
    text-align: center;
    margin: 0 auto;
}
.featured ul li .featured-box {
    background-color: #ffffff;
    display: inline-block;
    width: 600px;
    overflow: hidden;
}

.featured ul li a .featured-img {
    float: left;
    padding: 15px;
}
.featured ul li a .featured-desc p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.featured ul li a .featured-desc p.featured-name {
    padding: 20px 0;
    height: 60px;
}
.featured ul li a .featured-desc p.featured-price {
    font-size: 16px;
    color: #ffd204;
}

.featured ul li a .featured-desc {
    float: left;
    background-color: #E60014;
    padding: 0 20px;
    width: 430px;
    height: 135px;
    text-align: left;
}

.cbp-fwslider {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 40px 0 40px;
}
 
.cbp-fwslider ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}
 
.cbp-fwslider ul li {
    transform: translateZ(0);
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}
 
.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
    display: block;
    text-align: center;
    outline: none;
}
 
.cbp-fwslider ul li > a img {
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 75%;
}
 
.cbp-fwslider nav span {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100px;
    background: #dedede;
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-top: -50px;
    line-height: 100px;
    cursor: pointer;
    font-weight: normal;
}
 
.cbp-fwslider nav span:hover {
    background: #E60014;
}
 
.cbp-fwslider nav span.cbp-fwnext {
    right: 0px;
}
 
.cbp-fwslider nav span.cbp-fwprev {
    left: 0px;
}
 
.cbp-fwdots {
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}
 
.cbp-fwdots span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #ddd;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
}
 
.cbp-fwdots span:hover {
    background: #999;
}
 
.cbp-fwdots span.cbp-fwcurrent {
    background: #E60014;
    box-shadow: 0 0 0 2px #E60014;
    transition: box-shadow 0.2s ease-in-out;
}