.logo { float:left; }

.header header .logo h1#logo {
  text-indent: -9999px;
  display: block;
  width: 341px;
  height: 145px;
  background: url('logo1.png') no-repeat;
}

.header {
  padding-top: 40px;
  padding-bottom: 20px;
  /*border-bottom: 1px solid #555555;*/
}

.header h1 {
  color: #222222;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'arial';
  font-weight: bold;
  line-height: 26px;
  margin: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header .header_search {
  height: 31px;
  width: 230px;
  float: right;
  padding: 2px 3px 3px 3px;
  margin-top: 20px;
  border: solid 1px #dedede;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
header .header_search #search-input {
  width: 206px;
  color: #b4b4b4;
  overflow: hidden;
  float: left;
}

header .header_search #search-input input {
  background: none;
  border: 0px;
  border-bottom: 0;
  padding: 8px;
  padding-right: 5px;
  padding-left: 7px;
  font-size: 16px;
}

header .header_search button {
  background: url(search_btn.png) no-repeat center;
  border: 0px;
  width: 20px;
  height: 20px;
  float: left;
  margin: 6px 2px;
}