html, body {
  height: 100%;
  color: #222222;
  background: url(bg.png);
  font-family: verdana;
}

.main-content {
  padding: 10px; 
}
.pattern-bg {
  background-color: #ffffff;
  padding: 0px 2px 2px 2px;
  border-color: 1px solid #efefef;
}

.body {
  margin-top: 15px;
}
.page {
  min-width: 980px;
  min-height: 100%;
  position: relative;
}

hr.hr {
  visibility: hidden;
  padding: 0;
  margin: 0;
}

.right { float: right; }
.left { float: left; }

a.btn {
  text-decoration: none;
  padding: 5px;
  color: #ffffff;
  background-color: #dedede;
  border: none;
  display: block;
}

a.btn:hover {
  background-color: #e60014;
}

div.hr { 
  width: 100%; 
  height: 1px; 
  border: 0; 
  background-color: #f1f1f1; 
  margin: 15px 0;
  display: block;
  clear: both;
}

.btn-carrinho {
  overflow: hidden;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  background: url(cart_icon.png) no-repeat center;
}
a.btn-carrinho:hover {
  background-color: green;
}

.title {
  padding: 8px;
  padding-left: 55px;
  /*background-color: #f7f7f7;*/
  border-bottom: 1px dashed #efefef;
  margin: 0;
  /*margin-bottom: 12px;*/
  background: url(title-right.png) no-repeat 0px center;
  background-size: contain;
}

.title h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.breadcumb {
  display: block;
  margin: 10px 0 20px 0;
}