.item {
  padding: 6px 5px;
  width: 170px;
  height: 220px;
  margin-bottom: 5px;
}

.item .product-actions {
  margin: 8px 0;
  padding: 0 15px;
}

.item .product-actions .price {
  padding: 7px 15px 6px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #e60014;
  color: #ffffff;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  line-height: 12px;
}

.item .product-actions .price small {
  font-size: 9px;
}

.item:hover .price {
  color: #ffd204;
}

.item .product-image {
  width: 120px;
  height: 120px;
  margin: auto;
  margin-left: 25px;
  position: relative;
}

.item .product-image img {
  max-width: 120px;
  max-height: 120px;
  
  position: absolute;  
  overflow: hidden;  
  top: 50%;  
  left: 50%;
  -webkit-transform: translate(-50%,-50%);  
  -moz-transform: translate(-50%,-50%);  
  -ms-transform: translate(-50%,-50%);  
  -o-transform: translate(-50%,-50%);  
  transform: translate(-50%,-50%);  
}

.item .product-details {
  height: 50px;
  overflow: hidden;
  padding: 1px;
  margin-bottom: 4px;
}

.item .product-details h2 {
  font-family: 'Verdana', sans-serif;
  font-size: 11px;
  color: #454545;
  text-align: center;
}

.item .btn-carrinho {
  width: 70px;
  text-align: center;
  overflow: hidden;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  background: url(cart_icon.png) no-repeat center;
  background-color: #dedede;
}
.item .btn-carrinho:hover {
  background-color: green;
}