.left-menu {
  padding: 10px 0;
}

.left-menu h2 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f26122;
}

.left-menu li a {
  font-size: 13px;
  text-decoration: none;
}
.left-menu li a:hover {
  background-color: #ffd204;
  padding-left: 5px;
  color: #000000;
}

.left-menu li {
  margin-bottom: 7px;
}

.left-menu li:first-child {
  margin-top: 5px;
}

.left-menu ul > li > a {
  padding: 2px;
  display: block;
  color: #555555;
  background: url(arrow.png) no-repeat right -3px top 2px;
}