.main-menu {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.main-menu .navbar ul.primary_nav {
  padding: 0px;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

.main-menu .navbar ul.primary_nav > li { margin: 0 auto; display: inline; }

.main-menu .navbar ul.primary_nav > li > a {
  padding: 0px 15px;
  line-height: 35px;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
  color: #ffffff;
  text-decoration: none;
  overflow: auto;
  font-weight: bold;
}
  /*text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px*/
.main-menu .navbar ul.primary_nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.main-menu .primary_nav li { float: left; }

.main-menu ul.sub_menu {
  background-color: rgba(255,255,255, 0.95);
  position: absolute;
  top: 25px;
  left: -4000px;
  padding: 15px 0px;
  z-index: 100;
  width: 940px;
  box-shadow: 0px 5px 6px #999999;
  border-top: solid 3px #e60014;
  margin-left: 0;
}

.main-menu ul.primary_nav > li:hover > ul { left: 10px; }
.main-menu ul.sub_menu > li {
  width: 190px;
  margin-left: 25px;
}

.main-menu ul.sub_menu li a {
  text-decoration: none;
  line-height: 20px;
  display: block;
  width: 200px;
}
.main-menu ul.sub_menu > li > ul > li {
  padding: 2px 0px;
}

.main-menu ul.primary_nav > li:hover > a {
  background-color: rgba(0, 0, 0, 0.1);
}

.main-menu ul.sub_menu > li > ul > li:first-child { padding-top: 15px; }
.main-menu ul.sub_menu > li > ul > li { font-size: 13px; }
.main-menu ul.sub_menu > li > ul > li:hover a { font-weight: bold; }
.main-menu ul.sub_menu > li > ul {
  border-top: solid 1px #e60014;
  margin-top:10px;
  margin-left: 0px;
}

.main-menu .minicart {
  float: right;
  position: relative;
  margin: 0px;
  /*padding: 7px 10px 7px 40px;*/
}

.main-menu .minicart > a {
  padding: 9px 10px 10px 40px;
  text-decoration: none;
  line-height: 35px;
  background: url(cart_icon.png) no-repeat 7px center;
  text-decoration: none;
  background-color: #ffd204;
}
.main-menu .minicart > a:hover {
  background-color: #efb200;
}
.main-menu .minicart span.price {
  color: #555555;
}
.main-menu .minicart .labeld {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}
.main-menu .minicart span {
  color: #575757;
}
.main-menu .minicart span b { font-weight: bold; }

.main-menu {
  background: #e60014; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.cart_drop { display: none; width:210px; border:solid 1px #e9e9e9; box-shadow:0px 1px 2px #e8e8e8; border-width:2px 1px; position:absolute; top:38px; left:-67px; background:#fff; z-index:10;}
.cart_drop ul { margin-bottom: 0; padding-bottom: 0; }
.cart_drop .darw{ display:block; background:url(cart_top.png) no-repeat center bottom; width:7px; height:7px; position:absolute; left:181px; top:-8px;}
.cart_drop ul li{ margin-bottom: 0; padding:12px;  border-bottom:dotted 1px #d9d9d9; display:inline-block; width:186px; box-shadow:inset 0px 1px 0px #fff;}

.cart_drop ul li:nth-child(odd) { background: #fdfdfe; }
.cart_drop ul li:nth-child(even) { background: #f7f7f7; }

.cart_drop ul li img{ padding:1px; border:solid 2px #f0f0f1; float:left; margin-right:10px;}
.cart_drop ul li a{color:#312E2B; text-transform:uppercase; font-size:11px; text-decoration:none; display:block; padding-bottom:4px; padding-top:2px; line-height:14px;}
.cart_drop ul li span.price{ font-size:13px;}
.cart_drop .cart_bottom{ padding:10px; padding-bottom: 0; display:inline-block; width:190px;}
.cart_drop .cart_bottom .subtotal_menu{ float:left; width:80px;}
.cart_drop .cart_bottom .subtotal_menu small{ display:block; color:#adaaa3; padding-bottom:8px;}
.cart_drop .cart_bottom .subtotal_menu big{ display:block; font-size:18px;}
.cart_drop .cart_bottom a{ float:right; margin:6px 0px; padding:7px; text-transform:uppercase; color:#fff; text-decoration:none; font-weight:bold; font-size:11px;}
.cart_bottom a {
  background: #e60014;
}