.product-listing .product {
  border: 1px solid transparent;
  margin-left: 8px !important;
  padding: 6px 5px 10px 5px;
  background-color: white;
  text-align: center;
}

.product-listing > .product:nth-child(4n) {
  /*margin-left: 5px !important;*/
}

.product-listing {
  /*text-align: center;*/
}
.product-listing .product-actions {
  padding: 0 3px;
  margin-top: 8px;
}

.product-listing .product-actions .price {
  padding: 3px 8px 7px 8px;
  font-size: 15px;
  font-weight: bold;
  background-color: #e60014;
  color: #ffffff;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  line-height: 12px;
}

.product-listing .product-actions .price small {
  font-size: 9px;
}

.product-listing .product:hover .price {
  color: #ffd204;
}

.product-listing .product-details {
  font-size: 13px;
  display: block;
  clear: both;
  padding: 0 3px;
  height: 42px;
  overflow: hidden;
}

.product-listing .product:hover {
  border: 1px solid #e3e3e3;
}

.product-listing .product-image {
  display: block;
  clear: both;
  /*border: 1px solid #f1f1f1;*/
  padding-top: 2px;
  margin-bottom: 4px;
}

.product-listing .row {margin-bottom: 0;}

/* toolbar */

.toolbar {
  padding: 12px 10px 5px 10px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #ffd204;
  width: 740px;
}
.toolbar label{ font-size:11px; color:#5f5a56; text-transform:uppercase; float:left; padding-right:10px; line-height:24px;}
.toolbar > div{ float:left;}
.toolbar > div.show_no{ float:right;}
.toolbar > div.viewby{ margin-left:100px;}
.toolbar > div.viewby a{ display:inline-block; width:25px; height:21px; border:solid 1px #d7d7d7; margin-left:-4px;}
.toolbar > div.viewby a.list{ background:url(list.png) no-repeat center;}
.toolbar > div.viewby a.grid{ background:url(grid.png) no-repeat center;}
.toolbar select{ margin-bottom:0; border:solid 1px #d7d7d7; padding:3px; font-size:11px; color:#818181; width:100px;}