.purchase-table tr.heading td {
  background-color: #727272;
  padding: 8px 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.purchase-table td {
  vertical-align: middle;
  padding: 5px 2px;
}

.purchase-table td img {
  display: block;
}

.purchase-table tr:nth-child(even) { background: #fdfdfe; }
.purchase-table tr:nth-child(odd) { background: #f7f7f7; }