.top-menu .navbar {
  clear: both; display: block;
}

.top-menu .navbar ul.nav {
  padding: 0px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  list-style: none;
}

.top-menu .navbar ul.nav li { margin: 0 auto; display: inline; }
.top-menu {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #505050;
  background-color: rgba(40,40,40, 0.8);
}

.top-menu .navbar {float: right;}
.top-menu .navbar ul.nav li a {
    padding: 5px 15px;
    line-height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    float: left;
    text-decoration: none;
    overflow: auto;
    /*background-color: #5f5a56;*/
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.top-menu .navbar ul.nav li a:hover {
  /*background-color: #e60014;*/
  background-color: #5f5a56;
}