<div class="list-items cf">
  
  <% @items.each do |item| %>

    <%= render 'home/items', item: item %>

  <% end %>

</div>

<% if @items.num_pages > 1 %>

  <div class="stripe-separator"><!--  --></div>

  <%= paginate @items %>

<% end %>