<div class="three columns">
  <%= render "layouts/left-menu" %>
</div>

<div class="thirteen columns content">

  <span class="breadcumb cf">Resultados para pesquisa: <%= params[:q] %></span>

  <%= render "products/product_listing" %>
  
</div>