
<div class="thirteen columns product-show content contact">
  <div class="row">
    <div class="three columns alpha">
      <%= link_to ( 
                image_tag get_image(@item.image), width: '100%', height: 150
              ), get_image(@item.image_url), class: "product-image fancybox"
            %>
    </div>

    <div class="ten-custom columns omega custom-bg">
      <div class="custom-pd">
        <div class="product-title">
          <h3><%= @item.name %></h3>
        </div>

        <span class="product-desc"><%= @item.description.html_safe %></span>

          <div class="hr"></div>

          <% if @item.active %>
            <%= submit_tag 'Adicionar ao carrinho', class: 'add-to-cart' %>
          <% else %>
            Produto fora de estoque! Entre em contato conosco para encomenda.
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>