<div class="content-module-heading cf">

  <h3 class="fl">Cadastrar Produto</h3>
  <span class="fr expand-collapse-text">Click to collapse</span>
  <span class="fr expand-collapse-text initial-expand">Click to expand</span>

</div> <!-- end content-module-heading -->


<div class="content-module-main cf">

  <%= render "form" %>

</div>