<section class="container featured">

   <div id="cbp-fwslider" class="cbp-fwslider">
      <ul>
          <li><a href="#">teste imagem <%= image_tag 'rails.png' %></a></li>
          <li><a href="#"> woohoo<%= image_tag 'web/facebook.jpg' %></a></li>
      </ul>
  </div>

</div>