<div class="page-limited cf">
  <% [notice, alert].each do |f| %>
    <% unless f.blank? %>
      <div class="information-box round flash"><%= notice || alert %></div>
    <% end %>
  <% end %>
</div>