<div class="band footer">
  <footer class="container">
    <div class="sixteen columns">
      <div class="four columns alpha">
        <h4>Empresa</h4>

        <ul>
          <% @company_pages.each do |page| %>
            <li><%= link_to page.title, page %></li>
          <% end %>
        </ul>
      </div>

      <div class="four columns">
        <h4>Notícias</h4>

        <ul>
          <% @notices.each do |page| %>
            <li><%= link_to page.title, page %></li>
          <% end %>
        </ul>
      </div>

      <div class="four columns">
        <h4>Páginas</h4>

        <ul>
          <% @pages.each do |page| %>
            <li><%= link_to page.title, page %></li>
          <% end %>
        </ul>
      </div>

      <div class="four columns omega">
        <%= image_tag "web/logo2.png", style: "float: right" %>
      </div>
    </div>
  </footer>
</div>