<div class="band header">
  <header class="container">
    <div class="sixteen columns">
      <%= link_to root_url do %>
        <div class="logo">
          <h1 id="logo">Loja do Pintor</h1>
        </div>
      <% end %>

      <%= form_tag search_products_path, class: "header_search", method: :get do %>
        <div class="form-search">
          <div id="search-input">
            <input id="search" type="text" name="q" value="" class="input-text" autocomplete="off" placeholder="Search">
          </div>
          <button type="submit" title="Search"></button>
        </div>
      <% end %>
    </div>
  </header>
</div>