<div class="band header">
  <header class="container">
    <div class="sixteen columns">
      <div class="logo">
        <h1 id="logo">Loja do <br/>Pintor<span style="float: right; color: #ffffff">.NET</span></h1>
      </div>

      <form class="header_search">
        <div class="form-search">
          <div id="search-input">
            <input id="search" type="text" name="q" value="" class="input-text" autocomplete="off" placeholder="Search">
          </div>
          <button type="submit" title="Search"></button>
        </div>
      </form>
    </div>
  </header>
</div>