<div class="side-menu fr">
<% @categories_root.each do |category_root| %>

    <% if category_root.children.any? %>

      <% category_root.children.actives.first(3).each do |category| %>

        <h3><%= category.name %></h3>
          
        <ul>
          <% category.most_popular.first(5).each do |subcategory| %>
            <% if subcategory.items.size > 5 %>
              <li><%= link_to subcategory.name, subcategory %></li>
            <% end %>
          <% end %>
        </ul>

      <% end %>

    <% end %>

  </li>

<% end %>
</div>