<% @categories_root.each do |category_root| %>

    <% if category_root.children.any? %>

      <% category_root.children.actives.each do |category| %>

        <h3><%= category.name %></h3>
          
        <ul>
          <% category.children.actives.first(6).each do |subcategory| %>
            <li><%= link_to subcategory.name, subcategory %></li>
          <% end %>
        </ul>

      <% end %>

    <% end %>

  </li>

<% end %>